/*
.vk_comments {
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, rgba(0, 122, 255, 0.25) 0%, rgba(0, 173, 255, 0.13) 40%, rgba(28, 28, 28, 0.32) 150%), linear-gradient(to top, rgba(0, 255, 211, 0.31) 0%, rgba(2, 45, 255, 0.58) 200%);
  background-blend-mode: multiply;
  #vk_comments {
    width: 80%;
    display: inline-block;
    margin: 0 auto;
    max-width: 700px;
    min-width: 320px;
  }
}*/
