@charset "UTF-8";
/*
Блок Дизайн + Слайдер
*/
.dizain_wrapper {
  display: block;
  width: 100%;
  height: 830px;
  padding: 0;
  background: linear-gradient(to bottom, rgba(101, 0, 255, 0.21) 0%, rgba(0, 231, 255, 0.34) 100%), radial-gradient(at top center, rgba(99, 1, 255, 0.12) 0%, rgba(255, 255, 255, 0.35) 120%) #e2e1e1;
  background-blend-mode: multiply,multiply;
  z-index: 100; }
  .dizain_wrapper h1 {
    color: #fff;
    font-family: 'Supermolot';
    line-height: 7rem;
    letter-spacing: 2px; }
  .dizain_wrapper div img {
    width: 50%;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
    transition: all .9s;
    border-radius: 7px; }
    .dizain_wrapper div img:hover {
      transition: all .9s;
      width: 85%;
      border-radius: 0; }

.slide__wrapper {
  display: block;
  z-index: 100; }
  .slide__wrapper .slide {
    width: 80%;
    max-width: 900px;
    min-width: 320px;
    height: 600px;
    display: block;
    margin: 0 auto;
    background: url("../img/1.jpg") center center no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    margin-top: 2rem;
    box-shadow: 0 0 100px rgba(35, 35, 35, 0.37);
    z-index: 2;
    border-radius: 20px; }
    .slide__wrapper .slide__left {
      width: 10%;
      height: 100%;
      display: inline-block;
      float: left;
      z-index: 100;
      border-radius: 20px 0 0 20px; }
      .slide__wrapper .slide__left:hover {
        background: rgba(70, 70, 70, 0.5); }
      .slide__wrapper .slide__left i {
        color: rgba(232, 247, 255, 0.6);
        font-size: 3rem;
        line-height: 600px; }
    .slide__wrapper .slide__right {
      width: 10%;
      height: 100%;
      display: inline-block;
      float: right;
      z-index: 100;
      border-radius: 0 20px 20px 0; }
      .slide__wrapper .slide__right:hover {
        background: rgba(70, 70, 70, 0.5); }
      .slide__wrapper .slide__right i {
        color: rgba(232, 247, 255, 0.6);
        font-size: 3rem;
        line-height: 600px; }
    .slide__wrapper .slide__img {
      display: inline-block;
      float: left;
      width: 80%;
      height: 100%;
      background-size: contain; }
    .slide__wrapper .slide__circle {
      position: absolute;
      top: 90%;
      left: 20%;
      display: inline-block;
      height: 10%;
      width: 60%; }
      .slide__wrapper .slide__circle span {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5); }
        .slide__wrapper .slide__circle span:not(:nth-child(1)) {
          margin-left: .7rem; }

/*
Ширина дисплея меньше 767px
========================================*/
@media only screen and (max-width: 767px) {
  .slide__wrapper .slide {
    width: 100%;
    height: 350px; }
  .slide__wrapper .slide__right i, .slide__wrapper .slide__left i {
    line-height: 350px; }
  .dizain_wrapper {
    height: 520px; } }

/*
Активный кружок
========================================*/
#slide__circle_active {
  width: 12px;
  height: 12px;
  background: white; }

.slide__circle_Deactive {
  height: 8px;
  width: 8px;
  background: rgba(255, 255, 255, 0.5); }

/*Иконки на background*/
.dizain_wrapper {
  position: relative;
  overflow: hidden; }
  .dizain_wrapper .ico_back11,
  .dizain_wrapper .ico_back18 {
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    z-index: 1; }
  .dizain_wrapper .ico_back11 {
    top: 4%;
    right: 1%;
    font-size: 34rem; }
  .dizain_wrapper .ico_back18 {
    top: 10%;
    left: 5%;
    font-size: 35rem; }
