@charset "UTF-8";
/*Меню*/
/*#potolok {
  width: 100%;
  height: 40px;
  display: inline-block;
  position: fixed !important;
  left: 0;
  z-index: 2;
}*/
.inplace {
  position: absolute;
  left: 0;
  top: 15px;
  height: 40px;
  width: 100%;
  background: rgba(75, 73, 76, 0.1);
  z-index: 100; }

.opacit {
  position: fixed;
  left: 0;
  top: 0;
  height: 40px;
  width: 100%;
  background: rgba(75, 73, 76, 0.1);
  z-index: 100; }

.opacit ul li {
  line-height: 40px; }

ul {
  margin: 0 auto;
  padding: 0;
  width: 75%; }
  ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    width: 15%;
    height: 100%;
    margin: 0;
    padding: 0; }
    ul li a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      font-family: supermolot;
      width: 100%;
      height: 40px;
      line-height: 40px;
      margin: 0;
      padding: 0;
      /*text-transform: uppercase;*/ }
      ul li a:hover {
        background-color: rgba(150, 150, 150, 0.35);
        color: #fafafa; }

@media only screen and (max-width: 859px) {
  header .opacit, header .inplace {
    background-color: transparent;
    z-index: 100;
    width: 150px;
    margin: 0;
    height: 40px;
    position: fixed;
    max-width: 1140px;
    border-radius: 0 0 3px 3px;
    transition: position, height, background-color .5s;
    top: 0; }
  header ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    background: rgba(232, 232, 232, 0.91);
    width: 120px;
    text-align: center; }
    header ul li {
      width: 120px;
      text-align: center; }
      header ul li a {
        display: inline-block;
        text-decoration: none;
        color: rgba(50, 50, 50, 0.9);
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 40px;
        line-height: 40px; }
        header ul li a:hover {
          background: rgba(40, 50, 50, 0.8);
          color: #fafafa; } }
