@charset "UTF-8";
/*Сертификаты*/
.certificate_wrap {
  overflow: hidden;
  width: 100%;
  height: 970px;
  position: relative;
  /*Иконки на background*/ }
  .certificate_wrap .certificate {
    width: 100%;
    height: 910px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: linear-gradient(to bottom, rgba(0, 122, 255, 0.25) 0%, rgba(0, 173, 255, 0.13) 40%, rgba(28, 28, 28, 0.32) 150%), linear-gradient(to top, rgba(0, 255, 211, 0.31) 0%, rgba(2, 45, 255, 0.58) 200%);
    background-blend-mode: multiply;
    padding-top: 4rem;
    position: relative; }
    .certificate_wrap .certificate .certificate__header {
      color: #fff;
      display: block;
      line-height: 0;
      width: 100%;
      height: 3rem;
      padding: 3rem auto 2rem;
      font-size: 2rem;
      letter-spacing: 2px;
      font-family: 'Supermolot';
      position: absolute; }
    .certificate_wrap .certificate div {
      width: 230px;
      display: inline-block;
      text-align: center;
      background: rgba(255, 255, 255, 0.22);
      margin: 7rem 5rem 3rem;
      min-height: 250px;
      box-shadow: 0 0 20px rgba(72, 70, 70, 0.19);
      z-index: 2; }
      .certificate_wrap .certificate div h3, .certificate_wrap .certificate div h4 {
        color: #fff;
        margin-top: 1rem; }
      .certificate_wrap .certificate div img {
        width: 150px;
        display: block;
        float: none;
        clear: both;
        margin: 2rem auto;
        box-shadow: 0 0 7px #1c1e23;
        transform: rotate3d(0, 0, 0, 100deg);
        transition: all .5s; }
        .certificate_wrap .certificate div img:hover {
          width: 220px;
          transform: rotate3d(0, 0, 0, 360deg);
          transform-style: preserve-3d;
          box-shadow: 0 0 25px #1c1e23;
          transition: all .5s; }
      .certificate_wrap .certificate div a {
        display: block;
        float: none;
        clear: both;
        margin: 0 auto 1rem;
        color: #fff;
        z-index: 100; }
  .certificate_wrap .ico_back1,
  .certificate_wrap .ico_back2,
  .certificate_wrap .ico_back10,
  .certificate_wrap .ico_back12,
  .certificate_wrap .ico_back13,
  .certificate_wrap .ico_back17,
  .certificate_wrap .ico_back27 {
    display: inline-block;
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    z-index: 1; }
  .certificate_wrap .ico_back1 {
    top: 7%;
    left: 5%;
    transform: rotate(-50deg);
    font-size: 5rem; }
  .certificate_wrap .ico_back2 {
    top: 0;
    left: 57%;
    transform: rotate(-13deg);
    font-size: 5rem; }
  .certificate_wrap .ico_back10 {
    top: 37%;
    left: 78%;
    transform: rotate(-12deg);
    font-size: 3.4rem; }
  .certificate_wrap .ico_back12 {
    top: 90%;
    left: 95%;
    transform: rotate(23deg);
    font-size: 4rem; }
  .certificate_wrap .ico_back13 {
    top: 75%;
    left: 39%;
    transform: rotate(0deg);
    font-size: 6rem; }
  .certificate_wrap .ico_back17 {
    top: 95%;
    left: 58%;
    transform: rotate(15deg);
    font-size: 4rem; }

@media only screen and (max-width: 1205px) {
  .certificate_wrap .certificate, .certificate_wrap {
    height: 1370px; } }

@media only screen and (max-width: 810px) {
  .certificate_wrap .certificate, .certificate_wrap {
    height: 2170px; }
  .certificate_wrap .certificate div {
    margin: 2rem; } }
