@charset "UTF-8";
/* Блок со скилами */
.skills__header {
  color: #fff;
  display: block;
  line-height: 7rem;
  width: 100%;
  height: 3rem;
  padding: 3rem auto 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: 'Supermolot'; }

.skills_wrap {
  width: 100%;
  height: 35rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(101, 0, 255, 0.21) 0%, rgba(0, 231, 255, 0.34) 100%), radial-gradient(at top center, rgba(99, 1, 255, 0.12) 0%, rgba(255, 255, 255, 0.35) 120%) #e2e1e1;
  background-blend-mode: multiply,multiply;
  box-shadow: 0 25px 50px rgba(40, 40, 40, 0.3);
  z-index: 10; }
  .skills_wrap .skills {
    display: inline-block;
    width: 29%;
    height: 300px;
    margin-top: 6rem;
    text-align: center;
    /*    .animated {
      animation-duration: 1s;
      animation-fill-mode: both;
      animation-timing-function: ease-out;
      animation-iteration-count:infinite;
    }*/ }
    .skills_wrap .skills .skills__ico1 {
      background: url("../img/monitor_html.png") center center no-repeat;
      background-size: cover;
      width: 120px;
      height: 120px;
      display: inline-block;
      margin: 0 auto;
      animation: move 2s ease-in-out; }
    .skills_wrap .skills .skills__ico2 {
      background: url("../img/monitor_js.png") center center no-repeat;
      background-size: cover;
      width: 120px;
      height: 120px;
      display: inline-block;
      margin: 0 auto;
      animation: move 2s ease-in-out; }
    .skills_wrap .skills .skills__ico3 {
      background: url("../img/monitor_php.png") center center no-repeat;
      background-size: cover;
      width: 120px;
      height: 120px;
      display: inline-block;
      margin: 0 auto;
      animation: move 2s ease-in-out; }

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(20px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
    .skills_wrap .skills .fadeInUp {
      animation-name: fadeInUp; }
    .skills_wrap .skills h2 {
      margin-top: 2rem;
      color: #fff;
      letter-spacing: 2px;
      font-family: 'supermolot'; }
    .skills_wrap .skills p {
      color: #fff;
      margin-top: 1.5rem;
      font-size: 0.85rem;
      font-family: 'notosans'; }

@media only screen and (max-width: 510px) {
  .skills_wrap .skills {
    width: 100%; }
  .skills_wrap {
    height: 78rem; }
  .skills {
    margin-top: 3rem; } }
