@charset "UTF-8";
/*
* Слайдер
**************************/
.wrap-slide {
  width: 100%;
  height: auto;
  padding-bottom: 5rem;
  background: linear-gradient(to bottom, rgba(101, 0, 255, 0.21) 0%, rgba(0, 231, 255, 0.34) 100%), radial-gradient(at top center, rgba(99, 1, 255, 0.12) 0%, rgba(255, 255, 255, 0.35) 120%) #e2e1e1;
  background-blend-mode: multiply,multiply; }
  .wrap-slide .slide {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1050px;
    text-align: center; }
    .wrap-slide .slide h1 {
      color: #ffffff;
      font-family: 'supermolot';
      padding: 3rem; }
    .wrap-slide .slide .sl {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 1036px; }
      .wrap-slide .slide .sl .sl__slide {
        position: relative; }
        .wrap-slide .slide .sl .sl__slide img {
          max-width: 100%;
          height: auto; }
        .wrap-slide .slide .sl .sl__slide .sl__text {
          position: absolute;
          bottom: 0;
          width: 96.55%;
          background: rgba(10, 10, 10, 0.7);
          color: #ffffff;
          text-align: left; }
          .wrap-slide .slide .sl .sl__slide .sl__text h3 {
            font-family: 'supermolot';
            padding: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px; }
          .wrap-slide .slide .sl .sl__slide .sl__text p {
            font-family: 'supermolot';
            padding: 0 1rem 1rem 1rem; }

/*
* Стили для точек под слайдером
********************************/
.slick-dots li button {
  border: 2px solid #777;
  border-radius: 50%;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.2);
  transition: border-color .3s; }
  .slick-dots li button:before {
    contetn: '';
    width: 10px;
    height: 10px;
    background: #777;
    opacity: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    transition: background .3s; }

/*Редактирую точки по умолчанию*/
.slick-dots li button:hover,
.slick-dots li.slick-active button {
  border-color: #fff; }

.slick-dots li button:hover:before,
.slick-dots li .slick-active button:before {
  background: #fff; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: transparent; }

.slick-dots li button:before {
  color: transparent; }

.slick-dots {
  bottom: -43px; }

.slick-dots li {
  margin: 0 15px; }

.slick-dots li button:before {
  top: 87%;
  left: 85%; }
