			/*ИконЫ*/
.market-info__main-header {
	margin-top: 56px;
}

.img-responsive {
	margin: 0 auto;
}

.row {
	margin-top: 219px;
}

.market-info__one-block, 
.market-info__two-block,
.market-info__three-block,
.market-info__four-block
{
min-height: 250px;
}
