@charset "UTF-8";
/*
Блок задачи
*/
.task {
  display: block;
  width: 100%;
  background: linear-gradient(to bottom, rgba(101, 0, 255, 0.21) 0%, rgba(0, 231, 255, 0.34) 100%), radial-gradient(at top center, rgba(99, 1, 255, 0.12) 0%, rgba(255, 255, 255, 0.35) 120%) #e2e1e1;
  background-blend-mode: multiply,multiply;
  z-index: 100; }
  .task h1 {
    color: #fff;
    font-family: 'Supermolot';
    line-height: 7rem;
    letter-spacing: 2px; }

/*Колонки*/
.task_wrap {
  width: 60%;
  max-width: 840px;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto; }

.main {
  width: 100%;
  max-width: 250px;
  color: #555;
  text-align: center;
  border: 1px solid #999;
  background-color: rgba(218, 218, 218, 0.39);
  box-shadow: 0 0 20px rgba(72, 72, 70, 0.19);
  float: left;
  margin-left: 20px;
  overflow: hidden;
  margin-bottom: 1rem; }

/*Заголовок*/
.wrapper__header {
  padding: 10px;
  color: #555;
  font-family: 'supermolot';
  width: 100%;
  text-align: center; }

/*Подзаголовки*/
.main__header {
  color: #fff; }

/*Кнопки*/
.main__button {
  box-shadow: 0 0 1px #fff;
  display: inline-block;
  width: 185px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #333;
  margin: .3rem auto 0;
  line-height: 30px;
  border-radius: 50px;
  color: #fff;
  background-color: rgba(68, 67, 67, 0.5);
  font-size: 16px;
  text-transform: none;
  font-family: 'supermolot';
  z-index: 100; }

.main__button:hover {
  background-color: rgba(150, 150, 150, 0.65);
  box-shadow: 0 0 7px #555;
  font-size: 17px; }

@media only screen and (max-width: 859px) {
  .description {
    width: 100%;
    text-align: center; }
  .description > .description__photo, .description > .description__data {
    display: block;
    width: auto;
    height: auto;
    float: none;
    margin: 2rem auto 0;
    max-width: 300px; }
  .main__header {
    padding: 10px; }
  .main__button:hover {
    background-color: rgba(150, 150, 150, 0.65);
    box-shadow: 0 0 7px #555;
    font-size: 17px; }
  .main {
    width: 100%;
    max-width: 250px;
    min-width: 230px;
    color: #555;
    text-align: center;
    border: 1px solid #999;
    overflow: hidden;
    display: block;
    float: none;
    margin: 2rem auto;
    height: auto; } }

@media only screen and (max-width: 905px) {
  .task_wrap {
    width: 240px; } }

@media only screen and (max-width: 905px) {
  .task {
    height: 1995px; } }

/*Нижний отступ для кнопок*/
#task > div > div:nth-child(1) > a:nth-child(25),
#task > div > div:nth-child(2) > a:nth-child(11),
#task > div > div:nth-child(3) > a:nth-child(7) {
  margin-bottom: 1rem; }

/*Иконки на фоне*/
#task {
  position: relative;
  overflow: hidden; }
  #task .ico_back3,
  #task .ico_back4,
  #task .ico_back5,
  #task .ico_back6,
  #task .ico_back7,
  #task .ico_back8,
  #task .ico_back9,
  #task .ico_back11,
  #task .ico_back14,
  #task .ico_back15,
  #task .ico_back16,
  #task .ico_back18 {
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    z-index: 1; }
  #task .ico_back3 {
    top: 50%;
    left: 1%;
    transform: rotate(-10deg);
    font-size: 4rem; }
  #task .ico_back4 {
    top: 16%;
    left: 30%;
    transform: rotate(6deg);
    font-size: 3rem; }
  #task .ico_back5 {
    top: 77%;
    left: 46%;
    transform: rotate(-11deg);
    font-size: 7rem; }
  #task .ico_back6 {
    top: 33%;
    left: 79%;
    transform: rotate(-11deg);
    font-size: 5rem; }
  #task .ico_back7 {
    top: 39%;
    left: 1%;
    transform: rotate(-11deg);
    font-size: 3rem; }
  #task .ico_back8 {
    top: 0%;
    left: 88%;
    transform: rotate(7deg);
    font-size: 3.4rem; }
  #task .ico_back9 {
    top: 80%;
    left: 8%;
    transform: rotate(-12deg);
    font-size: 3.4rem; }
  #task .ico_back11 {
    top: 19%;
    right: 0;
    transform: rotate(0deg);
    font-size: 42.4rem;
    width: 50%; }
  #task .ico_back14 {
    top: 55%;
    left: 79%;
    transform: rotate(3deg);
    font-size: 4rem; }
  #task .ico_back15 {
    top: 83%;
    left: 83%;
    transform: rotate(15deg);
    font-size: 9rem; }
  #task .ico_back16 {
    top: 49%;
    left: 33%;
    transform: rotate(15deg);
    font-size: 5rem; }
  #task .ico_back18 {
    top: -76%;
    left: 0;
    transform: rotate(0deg);
    font-size: 33rem;
    width: 50%; }
