@charset "UTF-8";
/*
Блок задачи
*/
.task {
  display: block;
  width: 100%;
  height: 1300px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.4) 120%) #989898;
  background-blend-mode: multiply,multiply; }
  .task h1 {
    color: #fff;
    font-family: 'Arvo', arial;
    line-height: 7rem;
    letter-spacing: 2px; }

/*Колонки*/
.task_wrap {
  width: 60%;
  max-width: 840px;
  display: inline-block;
  margin: 0 auto; }

.main {
  width: 100%;
  max-width: 250px;
  color: #555;
  text-align: center;
  border: 1px solid #999;
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 0 20px #000;
  float: left;
  margin-left: 20px;
  overflow: hidden;
  margin-bottom: 1rem; }

/*Заголовок*/
.wrapper__header {
  padding: 10px;
  color: #555;
  font-family: 'supermolot';
  width: 100%;
  text-align: center; }

/*Подзаголовки*/
.main__header {
  color: #fff; }

/*Кнопки*/
.main__button {
  box-shadow: 0 0 1px #fff;
  display: inline-block;
  width: 185px;
  height: 30px;
  text-decoration: none;
  border: 1px solid #333;
  margin: .3rem auto 0;
  line-height: 30px;
  border-radius: 50px;
  color: #fff;
  background-color: rgba(56, 56, 56, 0.65);
  /* box-shadow: 0 0 1px #fff; */
  font-size: 16px;
  text-transform: none;
  font-family: 'supermolot'; }

.main__button:hover {
  background-color: rgba(150, 150, 150, 0.65);
  box-shadow: 0 0 7px #555;
  font-size: 17px; }

@media only screen and (max-width: 859px) {
  .description {
    width: 100%;
    text-align: center; }
  .description > .description__photo, .description > .description__data {
    display: block;
    width: auto;
    height: auto;
    float: none;
    margin: 2rem auto 0;
    max-width: 300px; }
  .main__header {
    padding: 10px; }
  .main__button:hover {
    background-color: rgba(150, 150, 150, 0.65);
    box-shadow: 0 0 7px #555;
    font-size: 17px; }
  .main {
    width: 100%;
    max-width: 250px;
    min-width: 230px;
    color: #555;
    text-align: center;
    border: 1px solid #999;
    background-color: rgba(51, 51, 51, 0.85);
    box-shadow: 0 0 20px #000;
    overflow: hidden;
    display: block;
    float: none;
    margin: 2rem auto;
    height: auto; } }

@media only screen and (max-width: 905px) {
  .task_wrap {
    width: 33%; } }

@media only screen and (max-width: 905px) {
  .task {
    height: 1855px; } }
