@charset "UTF-8";

$back1: rgba(44,28,13, 0.67);
$back2: rgba(41,32,44, 0.8);

// Отцентровать
@mixin ctr {
  margin: 0 auto;
}

// Шрифт миксин
@mixin supermolot {
  font-family: 'supermolot';
}

@mixin notosans {
  font-family: 'notosans';
}

@mixin arvo {
  font-family: 'Arvo', arial;
}

@mixin ubuntu {
  font-family: 'Ubuntu Condensed', sans-serif;
}
/*
                  Работы
*/

.good_work__header {
  color: #fff;
  display: block;
  line-height: 7rem;
  width: 100%;
  height: 3rem;
  padding: 3rem auto 2rem;
  font-size: 2rem;
  letter-spacing: 2px;
  font-family: 'Arvo', arial;
}

.good_work {
  display: block;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;

  .work {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 25px 50px rgba(40, 40, 40, 0.3);

    div:nth-child(2) > span {
      background: url("../img/lash.jpg");
      background-size: cover;
    }

    div:nth-child(3) > span {
      background: url("../img/shop.jpg");
      background-size: cover;
    }

    div:nth-child(4) > span {
      background: url("../img/admin.jpg");
      background-size: cover;
    }

    div:nth-child(5) > span {
      background: url("../img/git.jpg");
      background-size: cover;
    }

    div {
      text-align: center;
      display: inline-block;
      height: 400px;
      width: 300px;
      margin: 2rem 3rem;

      & > span {
        display: inline-block;
        background: url("../img/erp.jpg");
        background-size: cover;
        width: 100%;
        height: 150px;
        margin: 2rem auto;
        box-shadow: 0 0 10px rgba(100, 100, 100, .8);
        filter: grayscale(100%);

        &:hover {
          filter: grayscale(0);
        }
      }

      h2 {
        color: #fff;
        margin-top: 3rem;
      }

      p {
        display: inline-block;
        @include ctr;
        color: #fff;
      }

      a {
        display: inline-block;
        align-self: flex-end;
        width: 185px;
        height: 30px;
        text-decoration: none;
        border: 1px solid #333;
        margin: 2rem auto 0;
        line-height: 30px;
        border-radius: 50px;
        color: #fff;
        background-color: rgba(56, 56, 56, 0.65);
        box-shadow: 0 0 1px #fff;
        font-size: 16px;
        text-transform: none;
        font-family: 'supermolot';
      }
    }
  }
}

@media only screen and (max-width: 1205px) {
  .good_work .work {
    height: 1405px;
  }
}

@media only screen and (max-width: 810px) {
  .good_work .work {
    height: 2335px;
  }
}

/* Кнопка анимация */
