@font-face {
	font-family: 'Panton-Light';
	src: url('../fonts/light/Panton-Light.eot');
	src: url('../fonts/light/Panton-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/light/Panton-Light.woff2') format('woff2'),
		 url('../fonts/light/Panton-Light.otf') format('otf'),
		 url('../fonts/light/Panton-Light.woff') format('woff'),
		 url('../fonts/light/Panton-Light.ttf') format('truetype'),
		 url('../fonts/light/Panton-Light.svg#Panton-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Panton-Black';
	src: url('../fonts/black/Panton-Black.eot');
	src: url('../fonts/black/Panton-Black.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/black/Panton-Black.woff2') format('woff2'),
		 url('../fonts/black/Panton-Black.otf') format('otf'),
		 url('../fonts/black/Panton-Black.woff') format('woff'),
		 url('../fonts/black/Panton-Black.ttf') format('truetype'),
		 url('../fonts/black/Panton-Black.svg#Panton-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Panton-ExtraBold';
	src: url('../fonts/extra-bold/Panton-ExtraBold.eot');
	src: url('../fonts/extra-bold/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/extra-bold/Panton-ExtraBold.woff2') format('woff2'),
		 url('../fonts/extra-bold/Panton-ExtraBold.otf') format('otf'),
		 url('../fonts/extra-bold/Panton-ExtraBold.woff') format('woff'),
		 url('../fonts/extra-bold/Panton-ExtraBold.ttf') format('truetype'),
		 url('../fonts/extra-bold/Panton-ExtraBold.svg#Panton-ExtraBold') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Panton-ExtraBlack';
	src: url('../fonts/extra-black/Panton-ExtraBlack.eot');
	src: url('../fonts/extra-black/Panton-ExtraBlack.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/extra-black/Panton-ExtraBlack.woff2') format('woff2'),
		 url('../fonts/extra-black/Panton-ExtraBlack.otf') format('otf'),
		 url('../fonts/extra-black/Panton-ExtraBlack.woff') format('woff'),
		 url('../fonts/extra-black/Panton-ExtraBlack.ttf') format('truetype'),
		 url('../fonts/extra-black/Panton-ExtraBlack.svg#Panton-ExtraBlack') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Panton-SemiBold';
	src: url('../fonts/semi-bold/Panton-SemiBold.eot');
	src: url('../fonts/semi-bold/Panton-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/semi-bold/Panton-SemiBold.woff2') format('woff2'),
		 url('../fonts/semi-bold/Panton-SemiBold.otf') format('otf'),
		 url('../fonts/semi-bold/Panton-SemiBold.woff') format('woff'),
		 url('../fonts/semi-bold/Panton-SemiBold.ttf') format('truetype'),
		 url('../fonts/semi-bold/Panton-SemiBold.svg#Panton-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
}