body{
	background: url(http://subtlepatterns.com/patterns/grid.png);
	font: 1em 'PT Sans', Tahoma, Arial;
}


.container{
	width: 200px;
	height: 30px;
	border: 3px solid #fff;
	background: #999;
	border-radius: 7px;
	overflow: hidden;
	margin: 40px;
	box-shadow: 0 3px 4px rgba(0,0,0,.3);
}

.bar{
	width: 400px;
	height: 30px;
	background: repeating-linear-gradient(45deg, rgba(255,255,255,.8) 0, rgba(255,255,255,.8) 5px, transparent 5px, transparent 10px);
	animation: slide 4s linear infinite;
}

@keyframes slide {
	0%{
		margin-left: 0;
	}
	50%{
		/*opacity: 0;*/
	}
	100%{
		margin-left: 120%;/*Заполнение полоски в минус будет в противоположную сторону*/
	}
}








/*.square{
	width: 60px;
	height: 60px;
	background: #333;
	margin: 30px;
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	
	animation-name: spin; /*включение анимации*/
	/*animation-duration: 2s; /*длительность анимации*/
	/*animation-timing-function: linear; /*Скорость движения анимации с замедлением с ускорением*/
	/*animation-timing-function: cubic-bezier(0,0,0,0); Скорость движения анимации с замедлением с ускорением  
	******************************https://matthewlein.com/ceaser/*******************/
	/*animation-delay: 1s;/*Задержка перед анимацией*/
	/*animation-direction: alternate;/*Направление анимации по умолчанию normal так же есть reverse и altenate*/
	/*animation-iteration-count: 3; /*колличество итераций так же можно словами infinite бесконечно*/
	/*так же можно это всё упростить одной строкой*/
	/***************** animation: spin 2s linear 1s infinite alternate; *****************/
}

/*Следующие свойство может остановить анимацию при наведении курсора мыши*/
/*.square:hover{
	animation-play-state: paused;
}*/

/*@keyframes spin{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}
*/



