@charset "UTF-8";
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif; 
*/
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  font-size: 16px;
  background: -webkit-linear-gradient(283deg, #8f4729, #211c1a);
  background: linear-gradient(167deg, #8f4729, #211c1a);
}

.popup {
  background-color: #fff;
  width: 300px;
  height: 400px;
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  color: #333;
  padding: 20px;
  display: none;
}
.popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-close {
  color: #333;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 15px;
  -webkit-transition: all .2s;
          transition: all .2s;
  opacity: .6;
}
.popup-close:hover {
  opacity: 1;
  color: #333;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  display: inline-block;
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
body .ton {
  /*╨в╨╛╨╜╨╕╤А╨╛╨▓╨║╨░ ╨│╨╗╨░╨▓╨╜╨╛╨│╨╛ ╤Д╨╛╤В╨╛*/
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}
.wrapper .menu {
  /* ===>>> ╨Ь╨Х╨Э╨о <<<=== */
  padding-top: 50px;
  width: 100%;
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper .menu .logo {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-size: 4rem;
  display: inline-block;
  text-align: center;
}
.wrapper .menu ul {
  width: 50%;
  padding-left: 0;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper .menu ul li {
  list-style: none;
  display: inline-block;
}
.wrapper .menu ul li a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;
}
.wrapper .menu ul li a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #fff;
  -webkit-transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
}
.wrapper .menu ul li a:hover:after,
.wrapper .menu ul li a:focus:after {
  width: 100%;
}
.wrapper .sign {
  float: right;
}
.wrapper .sign a {
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  -webkit-transition: text-decoration 1s;
          transition: text-decoration 1s;
  float: right;
}
.wrapper .sign a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #fff;
  -webkit-transition: width .3s ease-in-out;
          transition: width .3s ease-in-out;
}
.wrapper .sign a:hover:after,
.wrapper .sign a:focus:after {
  width: 100%;
}
.wrapper .main {
  text-align: center;
  position: relative
  /* ╨║╨╜╨╛╨┐╨║╨░ */
}
.wrapper .main h1 {
  margin-top: 20rem;
  letter-spacing: 3px;
  font-size: 5rem;
  font-family: 'Ubuntu', sans-serif;
}
.wrapper .main h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
}
.wrapper .main h1, .wrapper .main h3 {
  text-align: center;
  color: #fff;
}
.wrapper .main #line {
  margin: -55px auto 0;
  padding: 10px;
  display: block;
  height: 50px;
  width: 40%;
  border-bottom: 1px solid #fff;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
.wrapper .main #line:hover {
  content: '';
  width: 60%;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
.wrapper .main .info {
  display: inline-block;
  margin: 70px auto 0;
  height: 50px;
  width: 300px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: transparent;
  text-align: center;
  line-height: 47px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  -webkit-transition: all .5s;
          transition: all .5s;
}
.wrapper .main .info:hover {
  background-color: #FFF;
  color: #555;
  border: 1px solid #333;
  -webkit-transition: all .3s;
          transition: all .3s;
  box-shadow: 0 0 70px rgba(30, 30, 30, 0.7);
}

/*╨Т╤Б╨┐╨╗╤Л╨▓╨░╤О╤Й╨╕╨╣ ╨▒╨╗╨╛╨║ ╨а╨╡╨│╨╕╤Б╤В╤А╨░╤Ж╨╕╨╕*/
#registr {
  width: auto;
  min-height: 0px;
  max-height: 500px;
  height: 350px;
  text-align: center;
  margin: 0 auto;
}

.right-block {
  background-color: #FFF;
  display: inline-block;
  width: 400px;
  height: 390px;
  clear: both;
  text-align: center;
}
.right-block h1 {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
.right-block p {
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
  text-align: center;
}
.right-block #form {
  display: inline-block;
}
.right-block #form h1 {
  color: #333;
  letter-spacing: 0;
  margin: 10px 0 0 0;
}
.right-block form div input {
  text-indent: 37px;
  border: none;
  border-radius: 0 0 0 0;
  box-shadow: none;
  border-bottom: 1px solid #888;
  height: 50px;
  width: 330px;
}
.right-block .input-name {
  margin-top: 40px;
}
.right-block .wrap-input {
  position: relative;
}
.right-block .wrap-input i {
  color: #888;
  position: absolute;
  top: 15px;
  left: 4px;
}
.right-block #password {
  border-bottom: 0;
}
.right-block .btn.btn-default {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.813;
  text-align: left;
  border-radius: 50px;
  background-color: #818b8b;
  width: 179px;
  height: 53px;
  text-indent: 20px;
  line-height: 35px;
  margin-top: 46px;
}
.right-block .btn.btn-default:hover {
  background-color: #B6C4C4;
  color: #333;
}

/* body > div:nth-child(10) {
  position: absolute;
  height: 400px;
  width: 400px;
  top: 204px;
  left: 760px;
  display: block;
  z-index: 101;
} */

/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/********/
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  color: #1f4c74;
  background-color: #f2f2f2;
}

a {
  color: #dab433;
  text-decoration: none;
}

svg {
  max-width: 100%;
}

/* -------------------------------- 

Modal Window

-------------------------------- */
.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}

.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}

.cd-modal svg > path {
  fill: #563123;
}

.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}

.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}

.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0;
}

.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}

@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }

  .cd-modal-content p {
    font-size: 2.4rem;
  }
}
/* -------------------------------- 

 Cover Layer - hide main content when modal is fired

-------------------------------- */
.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
}

.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
