body {
  margin: 0;
  background-image: -webkit-linear-gradient(right, #BDBBBE 0%, #9D9EA3 100%), -webkit-radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), -webkit-radial-gradient(50% 100%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-blend-mode: normal, lighten, soft-light;
  font-family: 'p22-book';
}

.menu {
  margin: 0;
  font-family: 'p22-book';
  font-weight: 100;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 48px;
  left: 1px;
  height: 451px;
  width: 238px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s;
          transition: all .5s;
  left: -100vw;
}
.menu-link {
  z-index: 9;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #FFF;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  position: fixed;
  margin: 240px auto 0
  /* top: 506px; */
  /* left: 108px; */
}
.menu-link span, .menu-link span:before, .menu-link span:after {
  display: block;
  height: 2px;
  width: 18px;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
  background-color: #333;
}
.menu-link span:before {
  -webkit-transition: all .5s;
          transition: all .5s;
  content: '';
  margin-top: -6px;
}
.menu-link span:after {
  -webkit-transition: all .5s;
          transition: all .5s;
  content: "";
  margin-top: 4px;
}
.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span:before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: 0;
}
.menu-link_active span:after {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-top: 0;
}
.menu_active {
    position: absolute;
    top: 35px;
    left: 16px;
}
.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  width: 100%;
}
.menu ul li {
  width: 100%;
}
.menu ul a {
  display: block;
  line-height: 4;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  -webkit-transition: all .5s;
          transition: all .5s;
  width: 100%;
}
.menu ul a:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.wrapper {
  width: 275px;
  height: 565px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* background-size: contain; */
  margin: 20px auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-color: transparent;
  border-radius: 42px;
  box-shadow: 0 10px 202px rgba(0, 0, 0, 0.5);
}

#text {
  width: 85%;
  height: 78%;
  padding: 0px 3px 15px 3px;
  margin-top: -50px;
  z-index: -10;
  overflow: hidden;
}
