* {
  margin: 0;
  padding: 0;
  transition: all .5s; }

html {
  font-size: 16px;
  box-sizing: border-box;
  background: #E6E6E6;
  font-family: "Exo 2", sans-serif;
  color: #1b263c; }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

.wrap {
  width: 100%;
  background: #E6E6E6; }

.contact {
  display: inline-block;
  width: 100%;
  height: 500px;
  background: #E6E6E6;
  position: relative; }
  .contact h2 {
    margin: 3rem;
    font-size: 3rem;
    color: #1b263c;
    overflow: hidden;
    white-space: nowrap;
    text-align: center; }
  .contact h2.contact__header:before,
  .contact h2.contact__header:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  .contact h2.contact__header:before {
    left: -.5em;
    margin: 0 0 0 -50%; }
  .contact h2.contact__header:after {
    left: .5em;
    margin: 0 -50% 0 0; }
  .contact h2.contact__header > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal; }
  .contact #contact__ton_map {
    width: 50%;
    height: 100%;
    display: inline-block;
    background: rgba(229, 229, 229, 0.7);
    position: absolute;
    bottom: -153px;
    right: 0;
    z-index: 1;
    border-left: 2px solid #1b263c; }
    .contact #contact__ton_map span.contact__director {
      margin-top: 1rem;
      margin-bottom: 1rem;
      display: block;
      width: 150px;
      height: 150px;
      background: url("../img/stas.jpg") center center no-repeat no-repeat;
      background-size: cover; }
    .contact #contact__ton_map div {
      display: block;
      text-align: left;
      margin: 0 0 0 4%; }
      .contact #contact__ton_map div h2 {
        text-align: left;
        font-family: "Exo 2", sans-serif;
        font-size: 2rem;
        font-weight: 700;
        background-color: #565656;
        color: transparent;
        text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        margin-left: 0; }
      .contact #contact__ton_map div a {
        color: #1b263c;
        text-decoration: none;
        font-family: "Exo 2", sans-serif;
        font-weight: 700; }
      .contact #contact__ton_map div address {
        font-size: 1rem; }
        .contact #contact__ton_map div address p {
          text-align: left;
          line-height: 26px; }
  .contact #mymap {
    width: 50%; }

#contact__ton_map > div > a.contact__brand {
  width: 270px;
  height: 80px;
  display: block;
  margin: 1rem 0;
  padding: 0;
  background: url("../img/energo-proekt.png") center center no-repeat no-repeat;
  background-size: contain;
  border: 2px solid #1b263c;
  box-sizing: border-box; }

@media screen and (max-width: 600px) {
  .contact #contact__ton_map {
    width: 100%; }
    .contact #contact__ton_map div {
      text-align: center; }
      .contact #contact__ton_map div h2 {
        text-align: center;
        margin: 2rem; }

  #contact__ton_map > div > a.contact__brand {
    width: 270px;
    height: 80px;
    display: inline-block;
    margin: 1rem auto;
    text-align: center; }

  .contact #contact__ton_map div address p {
    margin-left: 4%; }

  .contact #contact__ton_map span.contact__director {
    text-align: center;
    margin: 1.5rem auto; } }

/*# sourceMappingURL=contact.css.map */


// Яндекс поделится
.ya-share2 {
  display: inline-block;
  width: 25px;
  height: 250px;
  position: fixed;
  top: 40%;
  left: 1%;
  z-index: 20;
}

.ya-share2__list_direction_horizontal > .ya-share2__item {
   margin-top: 0.3rem;
 }
.ya-share2__list_direction_horizontal > .ya-share2__item {
  display: inline-block;
  vertical-align: top;
  margin-top: 0.3rem;
  margin-bottom: 0;
}