@charset "UTF-8";
/*
* Слайдер
**************************/
.wrap-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100%; }
  .wrap-slide .slide {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    text-align: center;
    position: relative;
    z-index: 1;
    height: 100%; }
    .wrap-slide .slide .exhortation {
      color: #1b263c;
      font-family: 'Exo 2', sans-serif;
      z-index: 12;
      position: absolute;
      top: 37%;
      margin-left: -505px;
      left: 50%; }
      .wrap-slide .slide .exhortation h1 {
        font-size: 4rem;
        font-weight: 700; }
      .wrap-slide .slide .exhortation h2 {
        font-size: 1.2rem;
        font-weight: 400; }
        .wrap-slide .slide .exhortation h2 strong {
          font-size: 1.4rem;
          font-weight: 700; }
      .wrap-slide .slide .exhortation input {
        display: inline-block;
        background: #fff;
        color: #1b263c;
        text-decoration: none;
        width: 18rem;
        height: 2.5rem;
        border-radius: 50px;
        line-height: 2.5rem;
        box-shadow: 37px 0px 47px -6px #000000 inset;
        font-family: #1b263c; }
      .wrap-slide .slide .exhortation #btn {
        box-shadow: none; }
        .wrap-slide .slide .exhortation #btn:hover {
          box-shadow: 0 0 20px #000 inset; }
    .wrap-slide .slide .sl {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      max-width: 1950px;
      z-index: 3; }
      .wrap-slide .slide .sl .sl__slide {
        position: relative; }
        .wrap-slide .slide .sl .sl__slide img {
          max-width: 100%;
          height: auto; }
        .wrap-slide .slide .sl .sl__slide .sl__text {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: rgba(10, 10, 10, 0.7);
          color: #1b263c;
          text-align: left; }
          .wrap-slide .slide .sl .sl__slide .sl__text h3 {
            font-family: 'Exo 2', sans-serif;
            padding: 1rem;
            text-transform: uppercase;
            letter-spacing: 1px; }
          .wrap-slide .slide .sl .sl__slide .sl__text p {
            font-family: 'Vollkorn', serif;
            padding: 0 1rem 1rem 1rem; }

/* Планшет
*/
@media (max-width: 786px) {
  .wrap-slide .slide .exhortation {
    position: absolute;
    top: 40%;
    margin-left: -330px;
    left: 50%; }
  .wrap-slide .slide .exhortation h1 {
    font-size: 2rem;
    font-weight: 400; }
  .page-header .page-header__line .page-header__logo {
    display: block;
    width: 104px;
    height: 90px; } }

/*
* Мобильник
*/
@media (max-width: 600px) {
  .wrap-slide {
    height: 30rem; }
  .wrap-slide .slide .exhortation h1 {
    display: none; }
  .wrap-slide .slide .exhortation {
    position: absolute;
    top: 50%;
    /* margin-left: -330px; */
    left: 0;
    margin: 0 auto; }
  .page-header .page-header__line {
    min-width: 350px;
    width: 100%;
    display: block;
    padding-top: 1rem; }
  .page-header .page-header__line .page-header__logo {
    width: 104px;
    height: 90px;
    margin: 0 auto; }
  .page-header .page-header__line .page-header__communications {
    float: none;
    width: 350px;
    height: 150px;
    margin: 2rem auto 0;
    display: block;
    text-align: center; }
  .page-header .page-header__wrap {
    width: 100%;
    height: 750px; } }

.ton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(229, 229, 229, 0.7);
  z-index: 5; }
