* {
  margin: 0;
  padding: 0;
  transition: all .5s; }

html {
  font-size: 16px;
  box-sizing: border-box;
  background: #E6E6E6;
  font-family: "Exo 2", sans-serif;
  color: #1b263c; }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

.wrap {
  width: 100%;
  background: #E6E6E6; }

section.we-product {
  width: 85%;
  max-width: 1170px;
  margin: 3rem auto 7rem;
  background: url("../img/icon_metal_electro.png") center center no-repeat no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  section.we-product h2 {
    width: 100%;
    font-size: 3rem;
    color: #1b263c;
    overflow: hidden;
    white-space: nowrap;
    text-align: center; }
  section.we-product h2:before,
  section.we-product h2:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 49%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  section.we-product h2:before {
    left: -.5em;
    margin: 0 0 0 -50%; }
  section.we-product h2:after {
    left: .5em;
    margin: 0 -50% 0 0; }
  section.we-product h2 > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal; }
  section.we-product .we-product__metal {
    width: 50%;
    display: inline-block;
    text-align: right;
    margin-top: 3rem; }
    section.we-product .we-product__metal ul {
      list-style: none; }
      section.we-product .we-product__metal ul li {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 100; }
  section.we-product .we-product__electro {
    width: 49%;
    display: inline-block;
    border-left: 2px solid #1b263c;
    margin-top: 3rem; }
    section.we-product .we-product__electro ul {
      list-style: none; }
      section.we-product .we-product__electro ul li {
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 100; }
  section.we-product .manager {
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center; }

@media screen and (max-width: 1250px) {
  body > div > section.we-product > h2 > strong,
  body > div > section.we-product > h2 {
    font-weight: 100;
    font-size: 1.5rem; }
  section.we-product .we-product__metal ul li,
  section.we-product .we-product__electro ul li {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 100; } }

@media screen and (max-width: 500px) {
  body > div > section.we-product > h2 > strong,
  body > div > section.we-product > h2 {
    font-weight: 100;
    font-size: 1.1rem; }
  section.we-product .we-product__metal ul li,
  section.we-product .we-product__electro ul li {
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 100; }
  section.we-product .we-product__metal {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 3rem; }
  section.we-product .we-product__electro {
    width: 100%;
    display: inline-block;
    border-left: none;
    margin-top: 3rem;
    text-align: center; } }
