* {
  margin: 0;
  padding: 0;
  transition: all .5s; }

html {
  font-size: 16px;
  box-sizing: border-box;
  background: #E6E6E6;
  font-family: "Exo 2", sans-serif;
  color: #1b263c; }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

.wrap {
  width: 100%;
  background: #E6E6E6; }

section.we-work {
  width: 80%;
  max-width: 1170px;
  height: 100%;
  margin: 1rem auto;
  background: #E6E6E6; }
  section.we-work .we-work__header {
    margin-top: 3rem;
    width: 100%;
    font-size: 3rem;
    color: #1b263c;
    overflow: hidden;
    white-space: nowrap;
    text-align: center; }
  section.we-work .we-work__header:before,
  section.we-work .we-work__header:after {
    content: "";
    position: relative;
    display: inline-block;
    width: 50%;
    height: 2px;
    vertical-align: middle;
    background: #000;
    background-clip: content-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
  section.we-work .we-work__header:before {
    left: -.5em;
    margin: 0 0 0 -50%; }
  section.we-work .we-work__header:after {
    left: .5em;
    margin: 0 -50% 0 0; }
  section.we-work .we-work__header > span {
    display: inline-block;
    vertical-align: middle;
    white-space: normal; }
  section.we-work .we-work__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: #1b263c;
    margin: 2rem auto;
    box-shadow: 10px 10px 20px rgba(50, 50, 50, 0.3);
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff; }
    section.we-work .we-work__blocks i {
      color: #FFDB4D;
      font-size: 7rem;
      margin: 0;
      padding: 0;
      width: 50px;
      line-height: 200px; }
    section.we-work .we-work__blocks .we-work__block {
      box-sizing: border-box;
      width: 33.33333333333%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap;
      color: #fff; }
      section.we-work .we-work__blocks .we-work__block span {
        width: 100px;
        height: 200px;
        display: inline-block;
        text-align: center;
        line-height: 200px; }
        section.we-work .we-work__blocks .we-work__block span i {
          font-size: 2rem;
          color: #fff; }
      section.we-work .we-work__blocks .we-work__block p {
        display: inline-block;
        width: 180px;
        height: 100%;
        padding: 5rem 2rem 0 0; }
