* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  box-sizing: border-box;
  transition: all .5s; }

.contact {
  display: inline-block;
  width: 100%;
  height: auto;
  min-height: 37rem;
  background: #DDDDDD; }
  .contact .contact__head {
    text-align: center;
    color: #171515;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .contact .contact__head h1 {
      text-transform: uppercase;
      font-size: 2.1rem;
      margin-top: 4rem; }
    .contact .contact__head h2 {
      text-transform: uppercase;
      margin-top: 1rem; }
    .contact .contact__head span {
      margin-top: .7rem;
      display: inline-block;
      width: 100%;
      height: 1.3rem;
      background: url("../img/underscore-b.png") center center no-repeat no-repeat;
      background-size: contain; }
  .contact .contact__info {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #171515;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
    .contact .contact__info .contact__my, .contact .contact__info .contact__your {
      display: inline-block;
      width: 50%; }
    .contact .contact__info .contact__my > div > p:nth-child(2),
    .contact .contact__info .contact__my > div > p:nth-child(6),
    .contact .contact__info .contact__my > div > p:nth-child(10) {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: bold; }
    .contact .contact__info .contact__my .contact__left {
      width: 80%;
      display: inline-block;
      margin: 0 auto; }
      .contact .contact__info .contact__my .contact__left i {
        font-size: 2rem;
        margin-bottom: .5rem;
        color: #FE604C;
        margin-left: 40%; }
      .contact .contact__info .contact__my .contact__left p {
        font-size: 1rem;
        margin-bottom: .3rem;
        margin-left: 40%; }
    .contact .contact__info .contact__your .contact__right {
      width: 80%;
      display: inline-block;
      margin: 0 auto; }
      .contact .contact__info .contact__your .contact__right p {
        font-size: 1rem; }
      .contact .contact__info .contact__your .contact__right input, .contact .contact__info .contact__your .contact__right textarea {
        width: 80%;
        height: 2.2rem;
        text-indent: 1rem;
        font-size: 1.3rem; }
      .contact .contact__info .contact__your .contact__right textarea {
        height: 5rem;
        text-indent: 1rem;
        font-size: 1.3rem; }
      .contact .contact__info .contact__your .contact__right button {
        display: inline-block;
        width: 144px;
        height: 43px;
        background: #FE604C;
        color: white;
        float: right;
        margin-top: 1rem;
        margin-right: 20%; }
        .contact .contact__info .contact__your .contact__right button:hover {
          background: #cd4f3f; }

@media only screen and (max-width: 650px) {
  .contact {
    height: auto;
    min-height: 61rem;
    background: #DDDDDD; }
    .contact .contact__info {
      width: 100%;
      display: block; }
      .contact .contact__info .contact__my {
        text-align: center; }
        .contact .contact__info .contact__my .contact__left {
          margin-bottom: 3rem; }
          .contact .contact__info .contact__my .contact__left p, .contact .contact__info .contact__my .contact__left i {
            margin-left: 0;
            font-size: 1.2rem;
            text-indent: 10px; }
      .contact .contact__info .contact__your {
        display: block;
        width: 100%; }
        .contact .contact__info .contact__your .contact__right {
          width: 100%;
          display: inline-block;
          margin: 0 auto;
          text-align: center; }
          .contact .contact__info .contact__your .contact__right button {
            float: none;
            margin-right: 0; }
    .contact .contact__info .contact__my {
      display: block;
      width: 100%; } }
