@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  box-sizing: border-box;
  transition: all .5s; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  box-sizing: border-box;
  transition: all .5s; }

/*
* Header
*********************/
header.head {
  width: 100%;
  height: auto;
  min-height: 55rem;
  background: url("../img/1.jpg") center center no-repeat no-repeat;
  background-size: cover;
  position: relative; }

header.head .head__tone {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

header.head .head__tone .head__wrapp {
  width: 80%;
  max-width: 1170px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  position: relative; }

header.head .head__tone .head__wrapp .head__logo {
  width: 4rem;
  height: 4rem;
  display: inline-block;
  background: url("../img/logo.png") center center no-repeat no-repeat;
  background-size: cover;
  position: absolute;
  top: 5%;
  left: 5%; }

header.head .head__tone .head__wrapp .head__name {
  text-align: center;
  width: 26rem;
  height: 3.5rem;
  border: 4px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -13rem;
  margin-top: -2rem; }

header.head .head__tone .head__wrapp .head__name h1 {
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  padding: .4rem; }

header.head .head__tone .head__wrapp .head__name h4 {
  margin-top: 1.2rem;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
  font-size: 12px; }

/* Descktop_menu_styles*/
.descktop__menu {
  position: fixed;
  width: 100%;
  height: 41px;
  transition: 0.2s;
  padding-top: 21px;
  z-index: 10; }

@media (max-width: 650px) {
  .descktop__menu {
    display: none; } }

.descktop__menu-list {
  padding: 0;
  width: 65%;
  text-align: center;
  margin: 0 auto; }

.descktop__menu-item {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px; }

.descktop__menu-item:last-child {
  margin-right: 0; }

.descktop__menu-link {
  display: block;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 18px;
  transition: 0.2s; }

.descktop__menu-link:hover {
  color: #FE604C; }

/* end Descktop_menu_styles*/
/*
*Кнопка
*****/
.menu__mobile {
  display: none; }

@media (max-width: 650px) {
  .menu__mobile {
    display: block; } }

.menu-link {
  position: fixed;
  top: 4%;
  right: 3%;
  z-index: 9;
  width: 3rem;
  /*background: #000;*/
  height: 3rem; }

.menu-link span, .menu-link span:before, .menu-link span:after {
  display: block;
  height: 2px;
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2px;
  background-color: #fff; }

.menu-link span:before {
  transition: all .5s;
  content: '';
  margin-top: -10px; }

.menu-link span:after {
  transition: all .5s;
  content: "";
  margin-top: 9px; }

.menu-link_active span {
  background-color: transparent; }

.menu-link_active span:before {
  transform: rotate(135deg);
  margin-top: 0; }

.menu-link_active span:after {
  transform: rotate(-135deg);
  margin-top: 0; }

.menu {
  position: fixed;
  right: 15%;
  top: -100%;
  z-index: 10;
  background: rgba(50, 50, 50, 0.8); }

.menu_active {
  position: fixed;
  right: 8%;
  top: 15%; }

.menu ul {
  list-style: none;
  padding: 0;
  padding-right: 10px;
  text-align: right;
  width: 200px; }

.menu ul li {
  width: 100%; }

.menu ul a {
  display: block;
  line-height: 4;
  text-decoration: none;
  color: #fff;
  padding-right: 10px;
  letter-spacing: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  font-family: sans-serif;
  text-indent: 1rem; }

.menu ul a:hover {
  background-color: rgba(50, 50, 50, 0.7); }

/*
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  transition: all .5s;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  box-sizing: border-box;
  transition: all .5s;
}

!*
* Header
*********************!

header.head {
  width: 100%;
  height: auto;
  min-height: 55rem;
  background: url("../img/1.jpg") center center no-repeat no-repeat;
  background-size: cover;
  position: relative;

  .head__tone {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    .head__wrapp {
      width: 80%;
      max-width: 1170px;
      min-width: 320px;
      height: 100%;
      margin: 0 auto;
      position: relative;

      .head__logo {
        width: 4rem;
        height: 4rem;
        display: inline-block;
        background: url("../img/logo.png") center center no-repeat no-repeat;
        background-size: cover;
        position: absolute;
        top: 5%;
        left: 5%;
      }

      .head__name {
        text-align: center;
        width: 26rem;
        height: 3.5rem;
        border: 4px solid #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -13rem;
        margin-top: -2rem;

        h1 {
          color: #fff;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-size: 2.4rem;
          padding: .4rem;
        }

        h4 {
          margin-top: 1.2rem;
          color: #fff;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-weight: 200;
          letter-spacing: 1px;
          font-size: 12px;
        }
      }
    }
  }
}

!*
*Кнопка
*****!
.menu-link {
  position: fixed;
  top: 50px;
  right: 20%;
  z-index: 9;
  width: 3rem;
  background: #000;
  height: 3rem;
}
.menu-link span, .menu-link span:before, .menu-link span:after {
  display: block;
  height: 2px;
  width: 30px;
  position: absolute;
  left: 50%;
  margin-left: -15px;
  top: 50%;
  margin-top: -2px;
  background-color: #fff;
}
.menu-link span:before {
  transition: all .5s;
  content: '';
  margin-top: -6px;
}
.menu-link span:after {
  transition: all .5s;
  content: "";
  margin-top: 4px;
}
.menu-link_active span {
  background-color: transparent;
}
.menu-link_active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}
.menu-link_active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}

.menu {
  position: fixed;
  right: 15%;
  top: -100%;
  z-index: 10;
  background: rgba(50,50,50, .5);
}

.menu_active {
  position: fixed;
  right: 14%;
  top: 17%;
}

.menu ul {
  list-style: none;
  padding: 0;
  text-align: left;
  width: 100%;
}
.menu ul li {
  width: 100%;
}
.menu ul a {
  display: block;
  line-height: 4;
  text-decoration: none;
  color: #fff;
  letter-spacing: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
  width: 100%;
  text-indent: 1rem;
}
.menu ul a:hover {
  background-color: rgba(50, 50, 50, .7);
}
*/
