.icon-24:before{content:'\e809';}
.icon-25:before{content:'\e80a';}
.icon-26:before{content:'\e80b';}
.icon-27:before{content:'\e80c';}
.icon-28:before{content:'\e80d';}
.icon-align-left:before{content:'\e81d';}